
/* ================================================
	CSS if screen is 1600px or larger
   ================================================ */

@media  (min-width:1800px) {
	#top {
		height: 1000px;
		width: 100%;
		background-size: 100% auto;
		padding: 550px 0 0 0;
	}
	#top h1 {
		font-size: 80px;
	}
}

/* ================================================
	CSS if screen is between 720px and 1599px
   ================================================ */

@media  (min-width:720px) and (max-width:1799px) {
	#top {
		height: 1000px;
		width: 100%;
		background-size: auto 1000px;
		padding: 550px 0 0 0;
	}
	#top h1 {
		font-size: 80px;
	}
}

/* ================================================
	CSS if screen is between 719px and 380px 
   ================================================ */

@media  (min-width:380px) and (max-width:719px) {
	#top {
		height: 650px;
		line-height: 60px;
		width: 100%;
		background-size: auto 650px;
		padding: 250px 0 0 0;
	}
	#top h1 {
		font-size: 60px;
	}
}

/* ================================================
	CSS if screen is 379px or less
   ================================================ */

@media (max-width:379px) {
	#top {
		height: 650px;
		line-height: 60px;
		width: 100%;
		background-size: auto 650px;
		padding: 350px 0 0 0;
	}
	#top h1 {
		font-size: 60px;
	}
}